<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="eva.css">

</head>
<body>


<img src="/img/food1.jpg">
<nav th:replace="fragments :: page-header"></nav>

<h1>Add a Recipe</h1>


<form method = "post">

    <div class="form-group">

        <label>Name of Recipe
            <input type="text" name>
        </label>
        <label>List of Ingredients
            <input type="text" ingredients>
        </label>
        <label>Directions
            <input type="text" directions>
        </label>
        <label>Preparation Time/Service Size
            <input type="text" prep_time>
        </label>


    </div>
    <input type="submit" value="Store Your Recipe!" />

</form>


</body>
</html>